.form_form {
	border: 1px solid grey;
	padding: 10px;
}

.form_line {
	margin-bottom: 10px;
}

.form_label {
	font-size: 100%;
	float: left;
	margin-right: 10px;
}

.form_legend {
	font-size: 100%;
	font-style: italic;
}

.form_value {
}

.form_block {
	border: 1px dashed grey;
	padding: 5px;
	margin: 10px 0 10px 0;
}

form {
	border: 1px solid grey;
	padding: 10px;
	margin-bottom: 10px;
}

.form_mandatory {
	background-color: lightyellow;
}

.form_mand_ok {
	background-color: #d0ffd0;
}